################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Submodules.Host.App/bin
/Submodules.Host.App/obj
/first/Submodules.First.Contracts/obj
/first/Submodules.First.Logic/obj
